.navLinks{
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
}

@media only screen and (min-width:321px) and (max-width:768px){
    .navLinks{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
        font-weight: 900;
        font-size: 1.5rem;
    }
}