.movieCard{
    width: 220px;
    min-width: 220px;
    box-shadow: 0 .1em .1em #333;
    border-radius: .5rem;
}
.movieCard .poster{
    width: 220px;
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    position: relative;
    border-radius: .5rem;
}
.movieCard .overview{
    color: crimson;
    border-radius: .5rem;
}
.movieCard .overview p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}
.movieCard .overview{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    max-height: 100%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    overflow-y: auto;
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
}
.posterBox:hover .overview{
    visibility: visible;
    opacity: 1;
}
::-webkit-scrollbar{
    width: 0;
}
.posterBox{
    position: relative;
}
.movieCard .rate{
    background: crimson;
    color: #fff;
    font-size: .7rem;
    font-family: 'Poppins', sans-serif;
    padding: .1rem .4rem;
    border-radius: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.movieCard .details{
    padding: 1rem .3rem .2rem;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .movieCard{
        width: 150px;
        min-width: 150px;
    }
    .movieCard .poster{
        width: 150px;
    }
    .movieCard .overview{
        padding: .5rem;
    }
    .movieCard .rate{
        font-size: .5rem;
        padding: .1rem .2rem;
        width: 4rem;
        position: absolute;
        bottom: -5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .movieCard .details .title{
        font-size: .7rem;
        font-family: 'Poppins', sans-serif;
    }
    .movieCard .details .date{
        font-size: .5rem;
        font-family: 'Poppins', sans-serif;
    }
}