.hero{
    /* min-height: 30rem; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    position: relative;
}
.heroContentBox{
    display: flex;
    flex-direction: column;
    padding: 8% 10%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(20px);
}
.heroContentDetails{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
.heroPoster .poster{
    width: 250px;
    border-radius: .5rem;
}
.heroContent{
    padding-left: 1rem;
    color: #fff;
    min-width: 80%;
}
.heroContent h1{
    font-size: 3rem;
    color: #fff;
}
.overviewTitle{
    color: #fff;
    font-size: 1.5rem;
}
.heroContent p{
    font-size: 1rem;
}
.overViewTopBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switchContentBtn{
    border: none;
    outline: none;
    padding: .5rem;
    border-radius:  .5rem 0 0 .5rem;
}
#activeContetnt{
    background: crimson;
}
.switchContentBtn:last-child{
    border-radius: 0 .5rem .5rem 0;
}
.switchContentBtn:hover{
    background: rgb(204, 204, 204, 0.6);
}
.search{
    padding: .5rem .8rem;
    color: crimson;
    background: #ccc;
    border-radius: .5rem;
    display: flex;
    align-items: center;
  }
  .search :is(input, button){
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
  }
  .overviewSearchInput{
    width: 0;
    transition: width .5s;
  }
  .overviewSearchBtn{
    width: 1.563rem;
    height: 1.563rem;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  .search:focus-within input{
    width: 12.5rem;
  }
  ::placeholder{
    color: inherit;
  }
#hideContent{
    display: none;
    margin-top: 3rem;
    position: absolute;
    top: 50%;
}
.VideoContainer{
    position: relative;
    height: 100vh;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.youtubeContainer{
    position: absolute;
    top: 5rem;
    left: 0;
    bottom: 3rem;
    right: 0;
}
.videoBtn{
    border: none;
    outline: none;
    color: #000;
    background: #ccc;
    margin-top: .5rem;
    border-radius: .5rem;
    padding: .4rem;
    font-size: 1rem;
    border: .1rem solid #ccc;
    transition: all .3s ease;
}
.downloadBtn{
    background: none;
    margin-left: 1rem;
    background: rgba(204, 204, 204, 0.37);
    color: #ccc;
}
.videoBtn:hover{
    color: #000;
    background: crimson;
    border: .1rem solid crimson;

}
.VideoCloseBtn{
    position: absolute;
    top: 10%;
    right: 25%;
    z-index: 999;
    background: #000;
    color: #fff;
    padding: .2rem;
    width: 2rem;
    border: none;
    outline: none;
}
.VideoCloseBtn:hover{
    background: red;
    border-radius: .1rem;
}
.overviewTitle{
    color: crimson;
    font-weight: 900;
}
.overviewText{
    color: #fff;
}
.overviewInfo{
    margin-top: 1rem;
}
.overviewInfo .date{
    margin-bottom: .5rem;
}
.otherOverviewInfo{
    margin-top: 1rem;
}
.otherOverviewInfo p span{
    color: #ccc;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .hero{
        min-height: 10vh;
    }
    .heroContentDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heroPoster .poster{
        width: 150px;
    }
    .heroContentBox{
        padding: 8% 5%;
    }
    .heroContent h1{
        font-size: 2rem;
    }
    
    .heroContentDetails{
        padding-top: 0;
    }
    .switchContent{
        display: flex;
        flex-direction: column;
    }
    .overViewTopBar{
        display: flex;
        padding: 3rem 1rem 1rem;
    }
    .switchContentBtn{
        margin-bottom: 1rem;
        border-radius: .5rem .5rem 0 0;
        margin-bottom: 0;
        padding: .4rem;
        font-size: .5rem;
        width: 4rem;
    }
    .switchContentBtn:last-child{
        border-radius: 0 0 .5rem .5rem;
    } 
    .VideoContainer{
        height: 50vh;
        width: 100%;
    }
    .youtubeContainer{
        top: 1;
        bottom: 0;
    }
    .VideoCloseBtn{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .2rem;
        width: 2rem;
        height: 2rem;
        z-index: 999;
    }
}