.hero{
    /* min-height: 30rem; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    position: relative;
}
.heroContentBox{
    display: flex;
    justify-content: space-between;
    padding: 8% 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
}
.heroPoster .poster{
    width: 300px;
    border-radius: .5rem;
}
.heroContent{
    padding-top: 2rem;
    padding-left: 1rem;
}
.heroContent h1{
    font-size: 4rem;
    color: crimson;
}
.overviewTitle{
    color: #fff;
    font-size: 1.5rem;
}
.heroContent p{
    color: #fff;
    font-size: 1rem;
}
#hideContent{
    display: none;
    margin-top: 3rem;
    position: absolute;
    top: 50%;
}
.VideoContainer{
    position: relative;
    height: 100vh;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.youtubeContainer{
    position: absolute;
    top: 5rem;
    left: 0;
    bottom: 3rem;
    right: 0;
}
.VideoPlayBtn{
    border: none;
    outline: none;
    background: crimson;
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
}
.VideoCloseBtn{
    position: absolute;
    top: 10%;
    right: 25%;
    z-index: 999;
    background: #000;
    color: #fff;
    padding: .2rem;
    width: 2rem;
    border: none;
    outline: none;
}
.VideoCloseBtn:hover{
    background: red;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .hero{
        min-height: 10vh;
    }
    .heroPoster .poster{
        display: none;
    }
    .heroContentBox{
        padding: 8% 5%;
    }
    .heroContent h1{
        font-size: 2rem;
    }
    .VideoContainer{
        height: 50vh;
        width: 100%;
    }
    .youtubeContainer{
        top: 0;
        bottom: 0;
    }
    .VideoCloseBtn{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .2rem;
        width: 2rem;
        height: 2rem;
        z-index: 999;
    }
}