#darkMode{
    font-size: 1.5rem;
    padding: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: .1rem solid #ccc;
    outline: none;
    box-shadow: inset 0px 2px 10px #000;
}
#darkMode:hover{
    border: .1rem solid #000;
}