:root{
    --main-color: dodgerblue;
    --bg-color: #222;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color);
    padding: 1.5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}
header .navBtn{
    display: none;
    padding: 0.313rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--main-color);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }

  header .searchBtn{
    color: #ccc;
    font-size: 1.3rem;
}
@media only screen and (min-width:321px) and (max-width:768px){
    header{
        padding: 1rem;
    }
    header .searchBtn{
        visibility: hidden;
        opacity: 0;
        font-size: 1.5rem;
    }
    header .navBtn{
        visibility: visible;
        opacity: 1;
        font-size: 1.5rem;
        display: block; 
    }
    header .navBar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        background: var(--bg-color);
        transition: .75s;
        transform: translateY(-100vh);
        z-index: 999;
      }

      header .reponsiveNav{
        transform: none;
      }
}