header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 999;
}
.headerNavbar{
    background: #222;
    color: #fff;
}
header .navBtn{
    display: none;
    padding: 0.313rem;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: crimson;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }

  header .switchBtn{
    width: 5rem;
}

.activeScrollToTopBtn{
    visibility: visible;
    opacity: 1;
}
.inActive{
    visibility: hidden;
    opacity: 0;
}
@media only screen and (min-width:321px) and (max-width:768px){
    header{
        padding: 1rem;
    }
    header .searchBtn{
        visibility: hidden;
        opacity: 0;
        font-size: 1.5rem;
    }
    header .navBtn{
        visibility: visible;
        opacity: 1;
        font-size: 1.5rem;
        display: block; 
    }
    header .navBar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        transition: .75s;
        transform: translateX(-100vw);
        z-index: 999;
      }

      header .reponsiveNav{
        transform: none;
      }
}