footer{
    background: linear-gradient(to left, #222, #333);
    width: 100%;
    border-top: .5rem solid #222;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    justify-content: center;
    z-index: 999;
}
.footerContainer{
    display: flex;
    flex-direction: column;
}
.containerBox{
    display: flex;
    flex-wrap: wrap;
    column-gap: 9rem;
    padding: 2rem 0 5rem 0;
}
.footerLogo{
    color: #000;
}
.footerTitle{
    color: #000;
    margin-bottom: .7rem;
}
.footerTitle::after{
    content: '';
    background: #000;
    height: .2rem;
    width: 2.5rem;
    display: block;
    margin-top: .3rem;
    border-radius: .5rem;
}
.Links{
    list-style: none;
    padding-bottom: .7rem;
}
.footerLinks{
    color: #000;
}
.footerLinks:hover{
    text-decoration: underline;
}
.copyRight{
    text-align: center;
    font-size: .8rem;
    color: #ccc;
    border-top: 1px solid #ccc;
    padding-top: 1.5rem;
}
.logoContent{
    padding-top: 1rem;
    width: 200px;
    color: #000;
    font-size: 1rem;
    opacity: .8;
}
@media only screen and (max-width: 786px){
    footer{
        position: relative;
    }
    .containerBox{
        column-gap: 2.5rem;
        margin-top: 4rem;
    }
    .footerLogo{
        position: absolute;
        right: 0;
        top: 15%;
        transform: translate(-80%, -50%);
    }
    .footerLogoH1{
        font-size: 1.5rem;
    }
    .containerBox{
        padding: 0;
    }
    .logoContent{
        display: none;
    }
}