*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.mainContentBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .contentBox{
        /* gap: 1rem; */
    }
}