*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* body{
    background: #ccc;
} */
.HomeContentBox{
    display: flex;
    gap: .5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem;
}
.mainContentBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .7rem;
    max-width: 1500px;
}
.NavTopPage{
    padding: 10% 10% 5%;
    text-align: left;
    border-bottom: .3rem solid #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.MoviePageTopContent{
    background: linear-gradient(rgb(0, 0, 0, 0.5),rgb(30, 144, 255, 0.2)), url(../src/Components/images/movie.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.TvShowsPageTopContent{
    background: linear-gradient(rgba(0,0,0,0.9),rgb(30, 144, 255, 0.5)), url(../src/Components/images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.PeoplePageTopContent{
    background: linear-gradient(rgba(0,0,0,0.9),rgb(30, 144, 255, 0.5)), url(../src/Components/images/spiderman.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contentTitle{
    color: #fff;
    font-size: 4rem;
}
.contentDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterControls{
    display: flex;
}
.filterControls .filter{
    list-style: none;
    padding: 2rem 1rem 0 0;
}
.filterLink{
    font-size: 1rem;
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 600;
}
.filterLink::before,
.filterLink::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: dodgerblue;
    transform: scaleX(0);
    transition: transform .7s;
}
.filterLink::before{
    top: -3px;
    transform-origin: left;
}
.filterLink::after{
    bottom: -3px;
    transform-origin: right;
}
.filterLink:hover::before,
.filterLink:hover::after,
.filterLink:hover{
    transform: scaleX(1);
    color: dodgerblue;
}
.navSearchBox .textBox{
    border: none;
    outline: none;
    padding: .9rem;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 2rem 0 0 2rem;
    width: calc(100% - 3rem);
    box-shadow: inset 0 3px 3px 0 rgb(0, 0, 0, 0.3), inset 0 0 3px 3px rgb(0, 0, 0, 0.3);
}
.navSearchBoxm .textBox::placeholder{
    opacity: .6;
}
.navSearchBox .searchBtn{
    border: none;
    outline: none;
    padding: .9rem;
    width: 3rem;
    font-size: .75rem;
    font-weight: 900;
    border-radius: 0 2rem 2rem 0;
    background-color: dodgerblue;
    box-shadow: inset 0 3px 3px 0 rgb(0, 0, 0, 0.3), inset 0 0 3px 3px rgb(0, 0, 0, 0.3);
}


.ControlsTopDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem;
  }
  .topButton{
    border: 1px solid #222;
    padding: .5rem;
    margin-left: 1rem;
    color: #222;
    width: 2.5rem;
    background: transparent;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: .3rem;
  }
  .topButton:hover{
    background-color: #222;
    color: #fff;
  }
.paginationControl{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .CurrentPageNumber{
    padding: 0 2rem;
    color: #ccc;
  }
  
  .downButton{
    padding: .5rem;
    color: #fff;
    background-color: dodgerblue;
    /* font-weight: 700; */
    border: none;
    outline: none;
    border-radius: .3rem;
    width: 5rem;
    cursor: pointer;
  }
.FlexMoviesContentDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.1rem 0;
}
.FlexMoviesContentTitle p{
    font-size: 2rem;
}
.FlexMoviesContentTitle span{
    color: #333;
    border-bottom: 1px solid #333;
}
.viewMore{
    border: 1px solid #222;
    padding: .5rem;
    color: #222;
    border-radius: .3rem;
    transition: all .3s ease;
}
.viewMore:hover{
    background: #222;
    color: #fff;
}
@media only screen and (min-width:321px) and (max-width:768px){
    .contentBox{
        gap: 1rem;
    }
    .NavTopPage{
        padding: 20% 5% 5%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .contentTitle{
        font-size: 2rem;
        text-align: center;
    }
    .contentDetails{
        display: flex;
        flex-direction: column;
    }
    .filterControls .filter{
        list-style: none;
        padding: 2rem 1rem 1rem 0;
    }
    .navSearchBox{
        width: 100%;
    }
    .ControlsTopDiv{
        padding: 1rem 2rem;
      }
}