*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.HomeContentBox{
    display: flex;
    gap: .5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 50rem;
}
.mainContentBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    max-width: 1600px;
}